---
import "../styles/globals.css";
---

<nav>
	<a href="">HOME</a>
	<a href="">SERVICIOS</a>
	<a href="">NOSOTROS</a>
	<a href="">CONTACTO</a>
</nav>

<style>
	nav {
		/* flex-configs */
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		/* propertys-configs */
		padding: 10px;
		gap: 10px;

		a {
			/* property-configs */
			color: var(--softblue);
		}
	}
</style>
